<div class="header">
  <h3>Available Courses</h3>
  <span class="count">{{ availableCourses().length }} found</span>
</div>

<div class="search-box">
  <input
    type="text"
    placeholder="Search course name..."
    [ngModel]="searchTerm()"
    (ngModelChange)="searchTerm.set($event)"
    (keydown)="playTypingSound()"
  />
</div>

<div class="filters">
  <div class="filter-group">
    <span class="filter-label">Start:</span>
    <input
      type="text"
      class="letter-input"
      maxlength="1"
      [ngModel]="nameStartChar()"
      (ngModelChange)="nameStartChar.set($event)"
      placeholder="A-Z"
    />
    <div class="filter-group">
      <span class="filter-label">ECTS:</span>
      <input
        type="number"
        class="number-input"
        [ngModel]="ectsFilter()"
        (ngModelChange)="ectsFilter.set($event)"
        min="0"
      />
    </div>
    <label class="checkbox-label">
      <input
        type="checkbox"
        [ngModel]="onlyMetPrerequisites()"
        (ngModelChange)="onlyMetPrerequisites.set($event)"
      />
      <span>Prereqs Met Only</span>
    </label>
  </div>

  <div class="filter-group">
    <span class="filter-label">Type:</span>
    <div class="chips">
      @for (type of availableTypes(); track type) {
      <button
        class="chip-btn type-chip"
        [class.active]="selectedTypes().has(type)"
        (click)="toggleType(type)"
      >
        {{ type }}
      </button>
      }
    </div>
  </div>

  <div class="filter-group dropdown-group">
    <span class="filter-label">Tags:</span>

    <div class="dropdown-container">
      <button
        class="dropdown-trigger"
        (click)="toggleTagsDropdown()"
        [class.active]="tagsDropdownOpen()"
      >
        @if (selectedTags().size === 0) {
        <span>Filter by Tag...</span>
        } @else {
        <span>{{ selectedTags().size }} Selected</span>
        }
        <span class="arrow">▼</span>
      </button>

      @if (tagsDropdownOpen()) {
      <div class="dropdown-menu">
        <div class="menu-grid">
          @for (tag of availableTags(); track tag) {
          <button
            class="chip-btn tag-chip"
            [class.active]="selectedTags().has(tag)"
            (click)="toggleTag(tag)"
            [matTooltip]="getTagTitle(tag)"
          >
            {{ tag }}
          </button>
          }
        </div>

        @if (selectedTags().size > 0) {
        <div class="menu-footer">
          <button class="clear-btn" (click)="clearTags()">Clear All</button>
        </div>
        }
      </div>

      <div class="dropdown-backdrop" (click)="tagsDropdownOpen.set(false)"></div>
      }
    </div>
  </div>
</div>

<div class="list-scroll-area">
  @for (course of filteredCourses(); track course.id) {
  <div class="course-card" (click)="handleCourse(course)">
    <div class="status-strip"></div>

    <div class="card-content">
      <div class="card-top">
        <span class="course-name">{{ course.name }}</span>
        <span class="course-name">{{
          course.schedule.day +
            ' ' +
            course.schedule.startTime +
            '-' +
            (course.schedule.startTime + course.schedule.durationHours)
        }}</span>
      </div>

      <div class="card-details">
        <span class="badge ects">{{ course.ects }} ECTS</span>
        <span class="badge type">
          {{ course.type }}
        </span>
        @if (course.isMandatory) {
        <span class="badge mandatory">Mandatory</span>
        } @if (course.isFirstYearRecommended){
        <span class="badge recommended">First year recommended</span>
        }
      </div>

      @if (course.tags && course.tags.length > 0) {
      <div class="tags">
        @for (tag of course.tags; track tag) {
        <span class="tag" matTooltipClass="tooltip" [matTooltip]="getTagTitle(tag)">{{ tag }}</span>
        }
      </div>
      }
    </div>
  </div>
  } @empty {
  <div class="empty-state">No courses available to select.</div>
  }
</div>
