<app-header
  [currentLevel]="currentLevel()"
  [willpowerCost]="gameService.currentSemesterOutcome().willpowerCost"
  [willpowerBudget]="gameService.currentSemesterOutcome().willpowerBudget"
  [willpowerBreakdown]="gameService.currentSemesterOutcome().costBreakdown"
  [totalScore]="this.gameService.currentSemesterOutcome().predictedTotalScore"
  [userName]="authService.username()"
/>
<app-contraints
  [validationContext]="validationContext()"
  [validationResults]="validationResults()"
  [isWillpower]="false"
  [canPassLevel]="gameService.canPassLevel()"
  (onClickNextLevel)="handleNextLevel()"
/>

<div class="grid-courses">
  <app-schedule-grid
    [schedule]="scheduleSlots()"
    [conflictingCourseIds]="collisions()"
    [shakingIds]="shakingCourseIds()"
  />
  <app-courses
    [availableCourses]="availableCourses()"
    (courseConflict)="triggerConflictShake($event)"
  />
</div>
