@use 'shared' as *;
:host {
  display: flex;
  flex-direction: column;
}

.grid-courses {
  display: grid;
  grid-template-columns: 2.7fr 1.3fr;
  gap: 10px;
  @include mobile {
    grid-template-columns: 1fr;
  }
}
