<app-header
  [currentLevel]="currentLevel()"
  [stressLevel]="this.gameService.currentSemesterOutcome().predictedTotalStress"
  [totalScore]="this.gameService.currentSemesterOutcome().predictedTotalScore"
  [userName]="authService.username()"
/>
<app-contraints
  [validationContext]="validationContext()"
  [validationResults]="validationResults()"
  (onClickNextLevel)="handleNextLevel()"
/>

<div class="grid-courses">
  <app-schedule-grid [schedule]="scheduleSlots()" [conflictingCourseIds]="conflictingCourseIds()" />
  <app-courses [availableCourses]="availableCourses()" />
</div>
