@use 'shared' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 98vh;
  // overflow: hidden;

  @include mobile {
    height: auto;
    // min-height: 100vh;
    // overflow-y: visible;
    overflow-x: hidden;
  }
}

app-header,
app-contraints {
  flex-shrink: 0;
}

.grid-courses {
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(320px, 1.2fr);
  gap: 5px;
  align-items: stretch;

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    overflow: visible;
  }
}
